<nav class="navbar navbar-light bg-light">
  <div class="navbar-brand" [routerLink]="''">
    <img [src]="logoUrl" width="30" height="30" class="d-inline-block align-top">
    Coding Sans
  </div>
</nav>
