<div class="container">
  <app-navigation></app-navigation>
  <div class="container">
    <div class="post" *ngFor="let post of posts$ | async">
      <app-short-post [post]="post"></app-short-post>
    </div>
  </div>
  <app-navigation></app-navigation>
</div>
