<div class="container">
  <button (click)="OnSetCounter(-1)" type="button" class="btn btn-outline-dark" [disabled]="isFirstPage">Previous
    page</button>
  <div class="counter">{{ currentPage$ | async }}</div>
  <button (click)="OnSetCounter(1)" type="button" class="btn btn-outline-dark" [disabled]="isLastPage$ | async">Next
    page</button>
</div>
