<div class="container" *ngIf="post$ | async as post">
  <div class="title" (click)="onNavigate(post.url)">Title: {{ post.title }}</div>
  <div class="author">Author: {{ post.author }}</div>
  <div class="date">Date: {{ post.date | date }}</div>
  <div class="text" *ngIf="post.text">{{ post.text }}</div>
  <div class="img" *ngIf="post.img !== 'self'"><img [src]="post.img"></div>
</div>
