.container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.container div {
  margin-bottom: 20px;
}

.title {
  font-size: 25px;
  cursor: pointer;
}

.author {
  font-size: 20px;
}

.date {
  font-size: 15px;
}

.text {
  text-align: justify;
}
