<div class="all" (click)="onClick()">
  <div class="title col-md-6">{{ post?.title}}</div>
  <div class="author col-md-3">{{ post?.author }}</div>
  <div class="date col-md-3">{{ post?.date | date }}</div>
</div>
